[submodule "00-libft"]
	path = 00-libft
	url = https://github.com/alineayumi/ft_libft
[submodule "01-get_next_line"]
	path = 01-get_next_line
	url = https://github.com/alineayumi/ft_get_next_line
[submodule "01-ft_printf"]
	path = 01-ft_printf
	url = https://github.com/alineayumi/ft_printf
[submodule "01-born2beroot"]
	path = 01-born2beroot
	url = https://github.com/alineayumi/ft_born2beroot
[submodule "02-ft_server"]
	path = 02-ft_server
	url = https://github.com/alineayumi/ft_server
[submodule "02-push_swap"]
	path = 06-cub3d
	url = https://github.com/alineayumi/ft_pushswap